<div class="container-fluid p-0 m-0">
  <div
    class="row d-flex justify-content-around m-0 p-0 animate__animated animate__fadeIn"
  >
    <div class="col p-2">
      <button
        type="button"
        class="btn btn-primary rounded-circle btnCustom"
        data-bs-toggle="modal"
        data-bs-target="#Modal"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="col d-flex justify-content-end p-2">
      <!-- <button type="button" class="btn btn-success btn-sm">
        <i
          class="fa fa-file-excel-o"
          aria-hidden="true"

        ></i>
        Generar Excel
      </button> -->
    </div>
  </div>
  <div class="table-responsive">
    <table
      class="table table-bordered table-hover text-center animate__animated animate__fadeIn"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">rol_nombre</th>
          <th scope="col">rol_descripcion</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let rol of roles" class="animate__animated animate__fadeIn">
          <th scope="row">{{ rol.id }}</th>
          <td>{{ rol.rol_nombre | titlecase }}</td>
          <td>{{ rol.rol_descripcion }}</td>
          <td>{{ rol.createdAt | date }}</td>
          <td>
            <div class="d-flex justify-content-center align-content-center">
              <button
                type="button"
                class="btn btn-warning btn-sm me-1"
                (click)="editarIncidente(rol)"
                data-bs-toggle="modal"
                data-bs-target="#Modal"
              >
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Editar
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm me-1"
                (click)="eliminarIncidente(rol)"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Eliminar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-roleModal
    [RoleInput]="roleSeleccionado"
    (modalOff)="onCloseModal($event)"
  ></app-roleModal>
</div>
